<div class="main-container">
  <header class="header header-3">
    <div class="branding">
      <a href="./dashboard" class="nav-link">
        <span class="title">Car Trader</span>
      </a>
    </div>
  <div class="header-nav">
      <a href="./dashboard" class="nav-link nav-text">Home</a>
  </div>
  <div class="header-nav">
    <a href="./cars" class="nav-link nav-text">Cars</a>
</div>
<div class="header-nav" id="upload">
    <a href="./upload" class="nav-link nav-text" >Upload</a>
</div>
<div class="header-nav">
  <a href="./login" class="nav-link nav-text">Login </a>
</div>
  </header>
  <div class="content-container">
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>