<div class="clr-row clr-align-items-center clr-justify-content-center">
  <div class="clr-col-lg">
    <h3>All of our classics</h3>
    <p></p>
  </div>
</div>
<div class="clr-row">
    <div *ngFor="let cars of carList" class="clr-col-lg-3 clr-col-6">
        <a class="card clickable">
        <div class="card-img">
            <img src="../assets/images/car1.jpg">
        </div>
        <div class="card-block">
            <div class="card-text">
                <p>{{cars.Marke}} {{cars.Modell}} {{cars.Version}}</p>
            </div>
            <div class="clr-row">
                <div class="clr-col-sm-12 clr-col-md-6">
                    <li class="list-group-item">{{cars.Hubraum}} L</li>
                    <li class="list-group-item">{{cars.PS}} HP</li>
                    <li class="list-group-item">{{cars.Leergewicht}} Kg</li>
                    <li class="list-group-item bold">Price: {{cars.Preis}} CHF</li>
                </div>
                <div class="clr-col-sm-12 clr-col-md-6">
                    <li class="list-group-item">{{cars.Zylinder}} cylinders</li>
                    <li class="list-group-item">{{cars.Aufbauart}}</li>
                    <li class="list-group-item">{{cars.Antrieb}}</li>
                </div>
            </div>
        </div>
        </a>
    </div>
</div>
