<h2>Welcome to Classic Cars</h2>
<h3>The innovative platform for purchasing YOUR new classic car!</h3><br>

<h3>Trending cars:</h3>

<div class="clr-row">
    <div *ngFor="let topCars of topCarList" class="clr-col-md-4 clr-col-6">
        <a class="card clickable">
            <div class="card-img">
                <img src="../assets/images/car2.jpg">
            </div>
            <div class="card-block">
                <div class="card-text">
                    <p>{{topCars.Marke}} {{topCars.Modell}} {{topCars.Version}}</p>
                </div>
                <div class="clr-row">
                    <div class="clr-col-sm-12 clr-col-md-6">
                        <li class="list-group-item">{{topCars.engineSize}} L</li>
                        <li class="list-group-item">{{topCars.PS}} HP</li>
                        <li class="list-group-item">{{topCars.Leergewicht}} Kg</li>
                        <li class="list-group-item bold">Price: {{topCars.Preis}} CHF</li>
                    </div>
                    <div class="clr-col-sm-12 clr-col-md-6">
                        <li class="list-group-item">{{topCars.Zylinder}} cylinders</li>
                        <li class="list-group-item">{{topCars.Aufbauart}}</li>
                        <li class="list-group-item">{{topCars.Antrieb}}</li>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
