<div class="clr-row clr-justify-content-around">
    <div class="clr-col-sm-12 clr-col-lg-4">
        <div class="card">
            <div class="card-header">
                New car:
            </div>
            <div class="card-block">
                <form [formGroup]="uploadForm" clrForm>
                    <clr-input-container>
                        <label>Brand</label>
                        <input clrInput type="text" name="Marke" required formControlName="Marke"/>
                        <clr-control-error>Not a valid brand</clr-control-error>
                    </clr-input-container>
                    <clr-input-container>
                        <label>Model</label>
                        <input clrInput type="text" name="Modell" required formControlName="Modell"/>
                        <clr-control-error>This field is required!</clr-control-error>
                    </clr-input-container>
                    <clr-input-container>
                        <label>Version</label>
                        <input clrInput type="text" name="Version" required formControlName="Version"/>
                        <clr-control-helper>eg. GT</clr-control-helper>
                        <clr-control-error>This field is required!</clr-control-error>
                    </clr-input-container>
                    <clr-input-container>
                        <label>Horse power</label>
                        <input clrInput type="number" name="PS" required formControlName="PS"/>
                        <clr-control-error>This field is required!</clr-control-error>
                    </clr-input-container>
                    <clr-input-container>
                        <label>Cylinders</label>
                        <input clrInput type="number" name="Zylinder" required formControlName="Zylinder"/>
                        <clr-control-error>This field is required!</clr-control-error>
                    </clr-input-container>
                    <clr-input-container>
                        <label>Engine size</label>
                        <input clrInput type="number" name="Hubraum" required formControlName="Hubraum"/>
                        <clr-control-helper>Liters</clr-control-helper>
                        <clr-control-error>This field is required!</clr-control-error>
                    </clr-input-container>
                    <clr-input-container>
                        <label>Weight</label>
                        <input clrInput type="number" name="Leergewicht" required formControlName="Leergewicht"/>
                        <clr-control-helper>Kg</clr-control-helper>
                        <clr-control-error>This field is required!</clr-control-error>
                    </clr-input-container>
                    <clr-radio-container clrInline>
                        <label>Body style</label>
                        <clr-radio-wrapper>
                            <input type="radio" clrRadio name="Aufbauart" required value="Sedan" formControlName="Aufbauart"/>
                            <label>Sedan</label>
                        </clr-radio-wrapper>
                        <clr-radio-wrapper>
                            <input type="radio" clrRadio name="Aufbauart" required value="Coupe" formControlName="Aufbauart"/>
                            <label>Coupe</label>
                        </clr-radio-wrapper>
                        <clr-radio-wrapper>
                            <input type="radio" clrRadio name="Aufbauart" required value="Convertible" formControlName="Aufbauart"/>
                            <label>Convertible</label>
                        </clr-radio-wrapper>
                        <clr-control-error>This field is required!</clr-control-error>
                    </clr-radio-container>
                    <clr-radio-container clrInline>
                        <label>Drive type</label>
                        <clr-radio-wrapper>
                            <input type="radio" clrRadio name="Antrieb" required value="Front wheel drive" formControlName="Antrieb"/>
                            <label>Front wheel drive</label>
                        </clr-radio-wrapper>
                        <clr-radio-wrapper>
                            <input type="radio" clrRadio name="Antrieb" required value="Rear wheel drive" formControlName="Antrieb"/>
                            <label>Rear wheel drive</label>
                        </clr-radio-wrapper>
                        <clr-radio-wrapper>
                            <input type="radio" clrRadio name="Antrieb" required value="All wheel drive" formControlName="Antrieb"/>
                            <label>All wheel drive</label>
                        </clr-radio-wrapper>
                        <clr-control-error>This field is required!</clr-control-error>
                    </clr-radio-container>
                    <clr-input-container>
                        <label>Price</label>
                        <input clrInput type="number" name="Preis" required formControlName="Preis"/>
                        <clr-control-error>This field is required!</clr-control-error>
                    </clr-input-container><br>
                    <button routerLink="/cars" [disabled]="uploadForm.invalid" [clrLoading]="uploadBtnState" type="submit" class="btn btn-lg btn-primary-outline" (click)="onSubmit()">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
