<div class="clr-row clr-justify-content-around">
    <div class="clr-col-sm-12 clr-col-lg-4">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-block">
                <form [formGroup]="loginForm" clrForm>
                    <clr-input-container>
                        <label>Username</label>
                        <input clrInput type="text" name="username" required formControlName="username"/>
                        <clr-control-error>This field is required!</clr-control-error>
                    </clr-input-container>
                    <clr-password-container>
                        <label>Password</label>
                        <input clrPassword type="password" name="password" required formControlName="password"/>
                        <clr-control-error>This field is required!</clr-control-error>
                    </clr-password-container>
                </form><br>
                <button routerLink="/dashboard" [disabled]="loginForm.invalid" [clrLoading]="loginBtnState" type="submit" class="btn btn-lg btn-primary-outline" (click)="login()">Login</button><br><br>
                <a href="./register" class="signup">Don't have an account yet? Register here!</a>
            </div>
        </div>
    </div>
</div>
