.login-wrapper {
    background-image: url(/assets/images/login.jpeg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: right center;
  }
  .login-wrapper .login {
    min-height: 70vh;
  }